*{
    background-color: skyblue;
    color: darkslategray;
    font-size: 18px;
    font: arial;
    text-align: center;
    font-family: 'EB Garamond', serif;
    margin: 0;
}

header {
    background-color: aliceblue;
    box-shadow: .5rem .5rem 1.5rem  darkslategray;
    padding: 5px;
    margin: 0; 
    z-index: 10;
}

h1 {
    font-size: 3em;
    font-family: 'Cinzel', serif;
    background-color: inherit;
}

h2 {font-size: 1.5em;}

form {
    margin-top: 2em;
    text-align: right;
    display: flex;
    grid-template: repeat(11, 1fr) / 1fr 1fr;
    align-items: center;
    flex-direction: column;
}

form div {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid white;
    border-radius: 30px;
    padding: .5em;
    align-items: center;
}

#form {
    /*min-width: 600px;*/
}

form label {
    /* from grid layout
    display: inline-block;
    position: relative;
    text-align: left; 
    margin-left: auto;
    align-items: center;*/
    padding-right: 0.5em;
    padding-left: 1em;
    font-weight: 600;

}

form input {
    /*from grid layout
    display: inline-block;
    position: relative;
    right: 0px;
    padding-right: 0;*/
    width: 3em;
    text-align: center;
    margin: 0.25em;
    background-color: hsl(203,92%,90%);
    transition: all 400ms;
    border:1px solid lightskyblue;
    border-radius: 10px;
}

input:focus {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: all 400ms;
}

#button {
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*removing the arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#button h3 {
    font-size: 2em;
    margin-left: 38%;
    margin-right: 38%;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 10px 20px;
    text-align: center;
    background-color: white;
    width: 24%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    min-width: 200px;
    border: 1px solid white;
    transition: all 50ms linear;
}

#button h3:hover {
	transition: all 50ms linear;
	box-shadow: 7px 15px;
	background-color: hsl(203,92%,90%);
	border: 1px dotted darkslateblue;
    transform: translate(3px, 5px);
}

#button h3:active {
    box-shadow: none;
    background-color: hsl(203,92%,80%);
    border: 1px solid gray;
    transition: all 100ms linear;
    transform: translate(10px, 20px);
}

#result {
    font-size: 1.5rem;
    margin: 2rem;
}

#result span {
    font-weight: 900;
    font-size: 6rem;
}