*{
    background-color: skyblue;
    
    font-size: 18px;
    font: arial;
    text-align: center;
    font-family: 'EB Garamond', serif;
    margin: 0;
}

body {
  color: darkslategray;
  text-rendering: optimizeLegibility;
}

header {
    background-color: aliceblue;
    box-shadow: .5rem .5rem 1.5rem  darkslategray;
    padding: 5px;
    margin: 0; 
    z-index: 10;
}

h1 {
    font-size: 3em;
    font-family: 'Cinzel', serif;
    background-color: inherit;
}

h2 {font-size: 1.5em;}

form {
    margin-top: 2em;
    text-align: right;
    display: flex;
    grid-template: repeat(11, 1fr) / 1fr 1fr;
    align-items: center;
    flex-direction: column;
}

form div {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid white;
    border-radius: 30px;
    padding: .5em;
    align-items: center;
}

#form {
    min-width: 600px;
}

form label {
    /* from grid layout
    display: inline-block;
    position: relative;
    text-align: left; 
    margin-left: auto;
    align-items: center;*/
    padding-right: 0.5em;
    padding-left: 1em;
    font-weight: 600;

}

form input {
    /*from grid layout
    display: inline-block;
    position: relative;
    right: 0px;
    padding-right: 0;*/
    width: 3em;
    text-align: center;
    margin: 0.25em;
    background-color: hsl(203,92%,90%);
    transition: all 400ms;
    border:1px solid lightskyblue;
    border-radius: 10px;
}

input:focus {
    background-color: white;
    color: black;
    border: 1px solid black;
    transition: all 400ms;
}

#button {
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#button h3 {
  background-color: transparent;
}

/*removing the arrows*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.income,
.weeklyHours{
    display: none;
}

button {
    font-size: 2em;
    margin-left: 38%;
    margin-right: 38%;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 10px 20px;
    text-align: center;
    background-color: white;
    width: 24%;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    min-width: 200px;
    border: 1px solid white;
    transition: all 50ms linear;
}

button:hover {
	transition: all 50ms linear;
	box-shadow: 7px 15px;
	background-color: hsl(203,92%,90%);
	border: 1px dotted darkslateblue;
    transform: translate(3px, 5px);
}

button:active {
    box-shadow: none;
    background-color: hsl(203,92%,80%);
    border: 1px solid gray;
    transition: all 100ms linear;
    transform: translate(10px, 20px);
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding: 5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

thead {
  position: sticky;
  top: 0;
}

th {
  color: #D5DDE5;;
  background-color: #1b1e24;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 23px;
  font-weight: 100;
  padding: 24px;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}


#result {
    font-size: 1.5rem;
    margin: 2rem;
}

#results {
    display: none;
}

#result span {
    font-weight: 900;
    font-size: 6rem;
}